<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ОАК</key>
	<string>https://smart-lab.ru/forum/%D0%9E%D0%90%D0%9A</string>
	<key>Tinkoff</key>
	<string>https://smart-lab.ru/forum/TCSG</string>
	<key>Русгидро</key>
	<string>https://smart-lab.ru/forum/HYDR</string>
	<key>Яндекс</key>
	<string>https://smart-lab.ru/forum/YNDX</string>
	<key>АФК Система</key>
	<string>https://smart-lab.ru/forum/AFKS</string>
	<key>ВТБ</key>
	<string>https://smart-lab.ru/forum/VTBR</string>
	<key>Сбербанк</key>
	<string>https://smart-lab.ru/forum/SBER</string>
	<key>Московская Биржа</key>
	<string>https://smart-lab.ru/forum/MOEX</string>
	<key>Северсталь</key>
	<string>https://smart-lab.ru/forum/CHMF</string>
	<key>МТС</key>
	<string>https://smart-lab.ru/forum/MTSS</string>
	<key>ММК</key>
	<string>https://smart-lab.ru/forum/MAGN</string>
	<key>НЛМК</key>
	<string>https://smart-lab.ru/forum/NLMK</string>
	<key>Детский Мир</key>
	<string>https://smart-lab.ru/forum/DSKY</string>
	<key>ФСК ЕЭС</key>
	<string>https://smart-lab.ru/forum/FEES</string>
	<key>Аэрофлот</key>
	<string>https://smart-lab.ru/forum/AFLT</string>
	<key>Магнит</key>
	<string>https://smart-lab.ru/forum/MGNT</string>
	<key>Ростелеком</key>
	<string>https://smart-lab.ru/forum/RTKM</string>
	<key>Норильский Никель</key>
	<string>https://smart-lab.ru/forum/GMKN</string>
	<key>Русал</key>
	<string>https://smart-lab.ru/forum/RUAL</string>
	<key>Русагро</key>
	<string>https://smart-lab.ru/forum/AGRO</string>
	<key>Группа ЛСР</key>
	<string>https://smart-lab.ru/forum/LSRG</string>
	<key>X5 Retail Group</key>
	<string>https://smart-lab.ru/forum/FIVE</string>
	<key>ВСМПО-Ависма</key>
	<string>https://smart-lab.ru/forum/VSMO</string>
	<key>Россети</key>
	<string>https://smart-lab.ru/forum/RSTI</string>
	<key>НМТП</key>
	<string>https://smart-lab.ru/forum/NMTP</string>
	<key>Эталон</key>
	<string>https://smart-lab.ru/forum/ETLN</string>
	<key>Энел</key>
	<string>https://smart-lab.ru/forum/ENRU</string>
</dict>
</plist>
