<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Revenue</key><array><string>2016,2.8</string><string>2017,4.3</string><string>2018,5.3</string></array><key>OIBDA</key><array><string>2016,0.5</string><string>2017,0.8</string><string>2018,1.3</string></array><key>Net Income</key><array><string>2016,-0.3</string><string>2017,-0.517</string><string>2018,-0.532</string></array><key>Net Debt</key><array><string>2016,4.4</string><string>2017,3.4</string><string>2018,4.1</string></array></dict></plist>