<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2014,11.3</string>
		<string>2015,15.0</string>
		<string>2016,18.0</string>
		<string>2017,24.566</string>
		<string>2018,42.5</string>
		<string>2019,80.7</string>
	</array>
</dict>
</plist>
