<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Revenue</key><array><string>2014,74.6</string><string>2015,92.0</string><string>2016,89.4</string><string>2017,94.3</string><string>2018,108.1</string></array><key>EBITDA</key><array><string>2014,20.2</string><string>2015,41.0</string><string>2016,29.9</string><string>2017,29.8</string><string>2018,37.1</string></array><key>Net Income</key><array><string>2014,6.9</string><string>2015,16.7</string><string>2016,25.5</string><string>2017,14.3</string><string>2018,12.8</string></array><key>Dividends</key><array><string>2014,6.1</string><string>2015,5.6</string><string>2016,13.6</string><string>2017,13.3</string><string>2018,12.4</string></array><key>Net Debt</key><array><string>2014,55.8</string><string>2015,51.2</string><string>2016,51.9</string><string>2017,60.2</string><string>2018,74.0</string></array></dict></plist>