<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2014,646</string>
		<string>2015,679</string>
		<string>2016,698</string>
		<string>2017,704</string>
		<string>2018,777</string>
		<string>2019,656.9</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2014,19.88</string>
		<string>2015,4.5</string>
		<string>2016,10.1</string>
		<string>2017,14.4</string>
		<string>2018,1.06</string>
		<string>2019,1.06</string>
	</array>
</dict>
</plist>
