<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Revenue</key><array><string>2015,14.8</string><string>2016,16.1</string><string>2017,17.7</string><string>2018,19.1</string></array><key>OIBDA</key><array><string>2015,4.3</string><string>2016,5.6</string><string>2017,6.3</string><string>2018,6.4</string></array><key>Net Income</key><array><string>2015,2.0</string><string>2016,2.7</string><string>2017,2.4</string><string>2018,2.9</string></array></dict></plist>