<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EBITDA</key>
	<array>
		<string>2014,8.4</string>
		<string>2015,21.9</string>
		<string>2016,39.8</string>
		<string>2017,34.2</string>
		<string>2018,40.8</string>
		<string>2019,36.4</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2014,9.58</string>
		<string>2015,14.4</string>
		<string>2016,24.4</string>
		<string>2017,19.1</string>
		<string>2018,18.9</string>
		<string>2019,20.217</string>
	</array>
	<key>Revenue</key>
	<array>
		<string>2014,61.9</string>
		<string>2015,78.9</string>
		<string>2016,89.4</string>
		<string>2017,88.0</string>
		<string>2018,101.4</string>
		<string>2019,105.4</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2014,5.96</string>
		<string>2015,16.8</string>
		<string>2016,25.5</string>
		<string>2017,12.8</string>
		<string>2018,15.3</string>
		<string>2019,21.5</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2014,34.3</string>
		<string>2015,43.8</string>
		<string>2016,23.8</string>
		<string>2017,35.2</string>
		<string>2018,49.5</string>
		<string>2019,61.8</string>
	</array>
</dict>
</plist>
