<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2013,416.7</string>
		<string>2014,530.8</string>
		<string>2015,412.3</string>
		<string>2016,510.6</string>
		<string>2017,592.5</string>
		<string>2018,641.3</string>
		<string>2019,610.4</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2013,101.5</string>
		<string>2014,0.8</string>
		<string>2015,1.7</string>
		<string>2016,51.6</string>
		<string>2017,120.1</string>
		<string>2018,178.8</string>
		<string>2019,201.2</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2013,15.0</string>
		<string>2014,15.2</string>
		<string>2015,15.2</string>
		<string>2016,44.4</string>
		<string>2017,73.5</string>
		<string>2018,26.8</string>
	</array>
</dict>
</plist>
