<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dividends</key>
	<array>
		<string>2013,38.44</string>
		<string>2014,40.4</string>
		<string>2015,52.0</string>
		<string>2016,52.0</string>
		<string>2017,52.0</string>
		<string>2018,52.0</string>
		<string>2019,57.26</string>
	</array>
	<key>Free Cash Flow</key>
	<array>
		<string>2013,68.9</string>
		<string>2014,57.1</string>
		<string>2015,51.0</string>
		<string>2016,47.0</string>
		<string>2017,71.5</string>
		<string>2018,54.8</string>
		<string>2019,55.4</string>
	</array>
	<key>Revenue</key>
	<array>
		<string>2013,398.4</string>
		<string>2014,410.8</string>
		<string>2015,431.2</string>
		<string>2016,435.7</string>
		<string>2017,442.9</string>
		<string>2018,480.3</string>
		<string>2019,476.1</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2013,42.3</string>
		<string>2014,27.7</string>
		<string>2015,49.5</string>
		<string>2016,48.5</string>
		<string>2017,56.0</string>
		<string>2018,6.8</string>
		<string>2019,54.2</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2013,188.1</string>
		<string>2014,230.7</string>
		<string>2015,310.9</string>
		<string>2016,265.9</string>
		<string>2017,273.0</string>
		<string>2018,232.8</string>
		<string>2019,305.2</string>
	</array>
	<key>OIBDA</key>
	<array>
		<string>2013,176.3</string>
		<string>2014,171.8</string>
		<string>2015,175.5</string>
		<string>2016,167.6</string>
		<string>2017,178.4</string>
		<string>2018,220.9</string>
		<string>2019,210.3</string>
	</array>
</dict>
</plist>
