<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EBITDA</key>
	<array>
		<string>2014,-17.2</string>
		<string>2015,39.4</string>
		<string>2016,43.6</string>
		<string>2017,38.1</string>
		<string>2018,41.2</string>
		<string>2019,45.3</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2014,4.5</string>
		<string>2015,0.0</string>
		<string>2016,25.0</string>
		<string>2017,0.0</string>
		<string>2018,24.7</string>
	</array>
	<key>Revenue</key>
	<array>
		<string>2014,36.3</string>
		<string>2015,53.5</string>
		<string>2016,58.0</string>
		<string>2017,52.5</string>
		<string>2018,59.7</string>
		<string>2019,56.1</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2014,-19.8</string>
		<string>2015,13.6</string>
		<string>2016,42.4</string>
		<string>2017,25.6</string>
		<string>2018,16.6</string>
		<string>2019,60.8</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2014,79.4</string>
		<string>2015,101.5</string>
		<string>2016,70.1</string>
		<string>2017,61.7</string>
		<string>2018,57.7</string>
		<string>2019,23.0</string>
	</array>
</dict>
</plist>
