<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EBITDA</key>
	<array>
		<string>2014,200.3</string>
		<string>2015,273.1</string>
		<string>2016,265.2</string>
		<string>2017,313.7</string>
		<string>2018,310.5</string>
		<string>2019,302.5</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2014,0.0</string>
		<string>2015,0.0</string>
		<string>2016,3.79</string>
		<string>2017,0.0</string>
		<string>2018,2.46</string>
		<string>2019,0.0</string>
	</array>
	<key>Revenue</key>
	<array>
		<string>2014,759.0</string>
		<string>2015,766.8</string>
		<string>2016,901.0</string>
		<string>2017,948.0</string>
		<string>2018,1022.0</string>
		<string>2019,1030.0</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2014,-15.2</string>
		<string>2015,64.0</string>
		<string>2016,74.6</string>
		<string>2017,121.2</string>
		<string>2018,91.0</string>
		<string>2019,76.8</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2014,496.1</string>
		<string>2015,487.2</string>
		<string>2016,471.9</string>
		<string>2017,456.2</string>
		<string>2018,484.2</string>
		<string>2019,483.4</string>
	</array>
</dict>
</plist>
