<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EBITDA</key>
	<array>
		<string>2013,-40.9</string>
		<string>2014,53.9</string>
		<string>2015,121.4</string>
		<string>2016,99.1</string>
		<string>2017,123.6</string>
		<string>2018,135.6</string>
		<string>2019,62.5</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2013,0.0</string>
		<string>2014,0.0</string>
		<string>2015,13.5</string>
		<string>2016,16.5</string>
		<string>2017,15.0</string>
		<string>2018,0.0</string>
		<string>2019,0.0</string>
	</array>
	<key>Revenue</key>
	<array>
		<string>2013,310.9</string>
		<string>2014,359.9</string>
		<string>2015,526.8</string>
		<string>2016,534.8</string>
		<string>2017,581.3</string>
		<string>2018,644.5</string>
		<string>2019,627.9</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2013,-2.9</string>
		<string>2014,-127.8</string>
		<string>2015,30.7</string>
		<string>2016,63.5</string>
		<string>2017,62.8</string>
		<string>2018,106.3</string>
		<string>2019,62.1</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2013,197.8</string>
		<string>2014,330.0</string>
		<string>2015,610.2</string>
		<string>2016,510.8</string>
		<string>2017,445.9</string>
		<string>2018,517.0</string>
		<string>2019,400.3</string>
	</array>
</dict>
</plist>
