<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2013,326.9</string>
		<string>2014,342</string>
		<string>2015,361.8</string>
		<string>2016,374.1</string>
		<string>2017,348.1</string>
		<string>2018,358.77</string>
	</array>
	<key>EBITDA</key>
	<array>
		<string>2013,79.2</string>
		<string>2014,73.2</string>
		<string>2015,73.4</string>
		<string>2016,100.3</string>
		<string>2017,104</string>
		<string>2018,109.7</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2013,21.0</string>
		<string>2014,24.1</string>
		<string>2015,27.2</string>
		<string>2016,39.8</string>
		<string>2017,24.8</string>
		<string>2018,31.8</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2013,5.25</string>
		<string>2014,6.0</string>
		<string>2015,15.0</string>
		<string>2016,19.9</string>
		<string>2017,11.2</string>
		<string>2018,15.9</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2013,117.3</string>
		<string>2014,142.6</string>
		<string>2015,149.4</string>
		<string>2016,132.4</string>
		<string>2017,120</string>
		<string>2018,163.3</string>
	</array>
	<key>QuoteSource</key>
	<string>https://smart-lab.ru/forum/HYDR</string>
	<key>Ordinary Shares</key>
	<integer>426288000000</integer>
	<key>Dividend Policy</key>
	<string>Компания выплачивает 50% от прибыли. При этом размер дивидендов не должен быть ниже среднего уровня за последние 3 года.</string>
	<key>Competition</key>
	<string>Низкая</string>
	<key>Annual Reports</key>
	<dict>
		<key>2018</key>
		<string>http://www.rushydro.ru/upload/iblock/32f/IFRS-RusHydro_1812_rus_FINAL.pdf</string>
	</dict>
	<key>Presentations</key>
	<dict>
		<key>2018</key>
		<string>http://www.rushydro.ru/upload/iblock/722/RusHydro_IFRS_FY2018_presentation_RUS.PDF</string>
	</dict>
</dict>
</plist>