<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2014,1301</string>
		<string>2015,1430</string>
		<string>2016,1698</string>
		<string>2017,1903</string>
		<string>2018,1936</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2014,290.3</string>
		<string>2015,222.9</string>
		<string>2016,541.9</string>
		<string>2017,748.7</string>
		<string>2018,831.7</string>
	</array>
	<key>Dividends</key>
	<array>
		<string>2014,10.2</string>
		<string>2015,44.5</string>
		<string>2016,135.5</string>
		<string>2017,271</string>
		<string>2018,361.4</string>
	</array>
	<key>QuoteSource</key>
	<string>https://smart-lab.ru/forum/SBER</string>
	<key>Ordinary Shares</key>
	<integer>21586948000</integer>
	<key>Preferred Shares</key>
	<integer>1000000000</integer>
	<key>Dividend Policy</key>
	<string>Стремятся к выплате 50% от чистой прибыли по МСФО при условии достаточности базового капитала на уровне 12,5 процентов в соответствии с требованиями Базель III</string>
	<key>Competition</key>
	<string>Низкая</string>
	<key>Annual Reports</key>
	<dict>
		<key>2018</key>
		<string>https://www.sberbank.ru/common/img/uploaded/files/info/ifrs2018/-_sberbank_ifrs-ye2018-rus_.pdf</string>
	</dict>
	<key>Presentations</key>
	<dict>
		<key>2018</key>
		<string>https://www.sberbank.com/common/img/uploaded/files/info/ifrs2018/_-ru_ifrs_12m_2802_00.pdf</string>
	</dict>
</dict>
</plist>