<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Revenue</key><array><string>2015,33.4</string><string>2016,43.0</string><string>2017,43.7</string><string>2018,57.9</string></array><key>OIBDA</key><array><string>2015,6.8</string><string>2016,8.7</string><string>2017,7.1</string><string>2018,13.0</string></array><key>Net Income</key><array><string>2015,2.3</string><string>2016,2.0</string><string>2017,0.1</string><string>2018,0.1</string></array><key>Net Debt</key><array><string>2015,0.7</string><string>2016,23.9</string><string>2017,33.6</string><string>2018,38.7</string></array></dict></plist>