<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Revenue</key>
	<array>
		<string>2018,7.4</string>
		<string>2019,9.2</string>
	</array>
	<key>Net Income</key>
	<array>
		<string>2018,1.0</string>
		<string>2019,0.8</string>
	</array>
	<key>Net Debt</key>
	<array>
		<string>2018,5.4</string>
		<string>2019,4.7</string>
	</array>
	<key>OIBDA</key>
	<array>
		<string>2018,1.5</string>
		<string>2019,1.8</string>
	</array>
</dict>
</plist>
