<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Revenue</key><array><string>2014,51.5</string><string>2015,42.4</string><string>2016,49.0</string><string>2017,70.6</string><string>2018,72.3</string></array><key>EBITDA</key><array><string>2014,10.6</string><string>2015,7.6</string><string>2016,7.3</string><string>2017,13.2</string><string>2018,14.49</string></array><key>Net Income</key><array><string>2014,8.4</string><string>2015,5.4</string><string>2016,4.9</string><string>2017,7.9</string><string>2018,0.037</string></array><key>Dividends</key><array><string>2014,1.12</string><string>2015,2.5</string><string>2016,1.5</string><string>2017,2.6</string><string>2018,3.64</string></array><key>Net Debt</key><array><string>2014,0.6</string><string>2015,7.4</string><string>2016,7.8</string><string>2017,9.7</string><string>2018,13.3</string></array></dict></plist>