<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Производство стали</key>
	<dict>
		<key>produce</key>
		<array>
			<string>2014,15.9</string>
			<string>2015,16.1</string>
			<string>2016,16.6</string>
			<string>2017,17.1</string>
			<string>2018,17.5</string>
			<string>2019,15.7</string>
		</array>
		<key>unitOfMeasurement</key>
		<string>млн. тонн</string>
	</dict>
</dict>
</plist>
