<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Генерация электроэнергии</key>
	<dict>
		<key>produce</key>
		<array>
			<string>2014,113.6</string>
			<string>2015,114.3</string>
			<string>2016,124.8</string>
			<string>2017,126.7</string>
			<string>2018,130.6</string>
			<string>2019,142.8</string>
		</array>
		<key>unitOfMeasurement</key>
		<string>тыс. гигаватт-час</string>
	</dict>
</dict>
</plist>
