<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC"-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>Бумага</key><dict><key>unitOfMeasurement</key><string>тыс. тонн</string><key>produce</key><array><string>2015,285.0</string><string>2016,286.0</string><string>2017,319.0</string></array></dict><key>Бумажная Упаковка</key><dict><key>unitOfMeasurement</key><string>млн.</string><key>produce</key><array><string>2015,1111.0</string><string>2016,1250.0</string><string>2017,1172.0</string><string>2018,1284.0</string></array></dict><key>Потреб. Пакеты</key><dict><key>unitOfMeasurement</key><string>млн.</string><key>produce</key><array><string>2015,25.0</string><string>2016,32.0</string><string>2017,37.0</string></array></dict></dict></plist>