<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Молоко</key>
	<dict>
		<key>produce</key>
		<array>
			<string>2014,27.9</string>
			<string>2015,30.2</string>
			<string>2016,36.2</string>
			<string>2017,40.0</string>
			<string>2018,46.5</string>
			<string>2019,57.0</string>
		</array>
		<key>unitOfMeasurement</key>
		<string>тыс. тонн</string>
	</dict>
	<key>Яблоки</key>
	<dict>
		<key>produce</key>
		<array>
			<string>2014,11.6</string>
			<string>2015,15.1</string>
			<string>2016,15.9</string>
			<string>2017,21.8</string>
			<string>2018,18.5</string>
			<string>2019,30.7</string>
		</array>
		<key>unitOfMeasurement</key>
		<string>тыс. тонн</string>
	</dict>
</dict>
</plist>
